.dashboard-container {
    display: flex;
    justify-content: center;
    min-height: 1000px;
}

.dashboard-top {
    width: 800px;
    margin-left: 30px;
}

.dashboard-side {
    width: 300px;
    margin-left: 50px;
}

.active-sort {
    color: #FFFFFF !important;
    background: #93B2E0 !important;
    cursor: pointer;
}