.dashboard-container {
    display: flex;
    justify-content: center;
    min-height: 1000px;
}

.dashboard-top {
    width: 800px;
    margin-left: 30px;
}

.dashboard-side {
    width: 300px;
    margin-left: 50px;
}

.active-sort {
    color: #FFFFFF !important;
    background: #93B2E0 !important;
    cursor: pointer;
}

.add-more-questions {
    width: 100%;
    padding: 20px 30px;
    background-color: $buttonColor;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin: 20px;
    transition: 500ms;
    &:hover {
        background: white;
        border: 1px solid $buttonColor;
        color: $buttonColor;
    }
}

.hide {
    display: none;
}