.quill {
    // width: 600px;
    height: 400px;
    // margin-top: 10px;
    // margin-left: 300px;
    background: white;
    margin-bottom: 20px;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    border-top: 0px;
    height: 90%;
}

pre.ql-syntax {
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    counter-reset: line;
    counter-increment: line;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}