.filter-container{
  margin-top: 40px;
  
  h1{
    font-size: 25px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
  }

  input{
    border: none;
    width: 300px;
    padding: 10px 0;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;

    &:focus{
      border: 1px solid lightgray;
    }

    &::placeholder{
      color: #C4C4C4;
    }
  }

  .tags{
    margin-top: 10px;

    button{
      color: #fff;
      background-color: $buttonColor;
      border-radius: 5px;
      border: none;
      margin-right: 5px;
      padding: 5px 10px;
  
        &:hover{
          cursor:pointer;
          background-color: #4169E1;
      }
    }
  }
}