.question-container {
    display: flex;
    height: 880px;
}

.main-content {
    width: 70%;
    height: 100%;
    .h1-form {
        margin: 30px 0;
        margin-bottom: 50px;
        font-size: 20px;
        color: #636161;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }
    .question-form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        background: #FEFEFF;
        border: 1px solid #D3D0D0;
        border-radius: 2px;
        label {
            color: gray;
        }
        .question-input {
            margin-top: 3px;
            margin-bottom: 20px;
            height: 40px;
            border-radius: 5px;
            border: 2px solid lightgray;
            background: white;
            &:focus {
                border: 2px solid gray;
            }
        }
        .width-controller {
            width: 213px;
            margin-bottom: 20px;
        }
    }
}

.side-content {
    margin-left: 30px;
    width: 30%;
    color: #636161;
    h1 {
        margin: 30px 0;
        margin-bottom: 50px;
        font-size: 20px;
        color: #636161;
        border-bottom: 1px solid black;
        width: 290px;
        padding-bottom: 5px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 50px;
    }
    ul {
        margin-left: 20px;
        width: 290px;
        li {
            line-height: 50px;
            font-size: 15px;
        }
    }
    .tag-container {
        margin-top: 40px;
        .tags {
            margin-top: 10px;
            background-color: #fff;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 10px;
            width: 200px;
            button {
                color: #fff;
                background-color: $buttonColor;
                border-radius: 5px;
                border: none;
                margin-right: 5px;
                padding: 5px 10px;
                &:hover {
                    cursor: pointer;
                    background-color: #4169E1;
                }
            }
        }
    }
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .left {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

.ui.fluid.multiple.search.selection.dropdown {
    margin: 0px 20px 0px 0px;
    min-width: 100px;
    max-width: 300px;
}

.question-form-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin: 0px 20px;
    padding:20px 0px;
}