.question-detail-contianer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .right-detail {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 80px 0 0 0;
        .related-questions {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.54);
            border-bottom: 1px solid black;
            h1 {
                font-size: 36px;
                line-height: 42px;
            }
        }
    }
    .left-detail {
        .header-container {
            margin: 40px 0 20px 0;
            padding-bottom: 20px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.54);
            border-bottom: 1px solid #D3D0D0;
            h1 {
                font-size: 36px;
                line-height: 42px;
            }
            p {
                font-size: 12px;
            }
        }
        .editor {
            min-height: 274px;
        }
    }
}